.posts {
  width: 90%;
  max-width: 40rem;
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;
  color: #fff;
}

.post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: 3rem;
}
