.single-post {
  max-width: 40rem;
  padding: 2rem 3rem;
  margin: 1rem auto;
  text-align: start;
  color: #fff;
  /* background: rgb(207, 110, 110); */
  background: var(--bg2-color);
}

.single-post h2 {
  margin-top: 0;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.btn {
  height: 2rem;
  padding: 0.3rem 2rem;
  background: var(--bg2-color);
}

.modal-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.content {
  /* padding: 13px 16px; */
  display: flex;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  margin-left: -20px;
}
.heart {
  /* position: absolute; */
  background: url(../../img/img.png) no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 60px;
  width: 60px;
  margin-top: -15px;
  border: none;
}
.hearts-amount {
  margin-top: -15px;
  font-size: 0.7rem;
}
.heart.heart-already-active {
  background-position: right;
}
.heart.heart-active {
  animation: animate 0.8s steps(28) 1;
  background-position: right;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@media (max-width: 500px) {
  .btn {
    padding: 0.3rem 1rem;
  }
  .single-post {
    padding: 1.5rem;
  }
}
