.colors1 {
  /* COLOR TEMPLATE 1 */

  --main-color: #de065f;
  --darker-color: #8a033b;
  --lighter-color: #d482a4;
  --bg-color: rgb(50, 50, 50);
  --bg2-color: rgb(55, 44, 49);
  --input-border: #4f005f;
  --input-bg: rgb(81, 81, 81);
  --input-active-bg: #d587a7;
  --opposite-color: rgb(0, 122, 204, 0.9);
}

.colors2 {
  /* COLOR TEMPLATE 2 */

  --main-color: #007acc;
  --darker-color: #00568f;
  --lighter-color: #54c3e2;
  --bg-color: rgb(50, 50, 50);
  --bg2-color: rgb(55, 44, 49);
  --input-border: #4f005f;
  --input-bg: rgb(81, 81, 81);
  --input-active-bg: #54c3e2;
  --opposite-color: rgb(222, 6, 95, 0.9);
}
