.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #741188;
  padding: 0 2rem;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.main-header h1 {
  color: white;
}
