.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #741188; */
  background: #de065f;
  padding: 0 2rem;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.main-header img {
  height: 3.5rem;
  margin-left: 2rem;
  border-radius: 30%;
}

.main-header h1 {
  color: white;
}
