.button {
  font: inherit;
  border: 1px solid var(--darker-color);
  background: var(--darker-color);
  color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 30px;
  transition: 0.3s all;
}

.button:hover,
.button:active {
  background: var(--main-color);
  border-color: var(--main-color);
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
