.comments {
  width: 90%;
  max-width: 40rem;
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;
  color: #fff;
}

.comment-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: 1.4rem;
  padding: 0 0.7rem;
}

@media (max-width: 420px) {
  .btn {
    padding: 0 0.7rem;
  }
}
