* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
  background-color: rgb(50, 50, 50);
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}

/* For ReactModal in SinglePost  */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
